/* i want to test out putting an empty spacer div inside the about wrapper but with a low z-index or something so it doesn't interfere with the clicking */

.dm-serif display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}  
.dm-serif display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* body text */
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
/*  300-700  */
}


:root {
  --offWhiteColor: #FBF7F4;
  --offWhiteColor2: #E1E1E1;
  --brightColor1: #C49BBB;
  --brightColor2: #727AAC;
/*  to use these variables you put var(--variableName)  */
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  background-color: var(--offWhiteColor);
  overflow: hidden;
  
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
/*   font-style: normal; */
  position: absolute;
  font-size: 50px;
  line-height: .8;
  top: 10px;
  right: 10%;
  z-index: 100;
  width: 250px;
  text-align: right;
}

.subHeader {
  position: absolute;
    /* font-size: 17px; */
    right: 10%;
    top: 80px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.subHeader h2 {
  font-weight: 500;
    font-size: 22px;
}
.subHeader a {
  font-size: 25px;
    margin: 10px 0px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

.subHeader a:hover {
  font-style: italic;
}

.projectWrapper {
  position: absolute;
/*   bottom: 15vh; */
  bottom: 95px;
/*   height: 100vh; */
  max-height: 100vh;
  background-color: var(--brightColor1);
  box-shadow: 0px 9px 5px 10px var(--brightColor2);
  z-index: 10;
  width: 100%;
  transition: max-height 1s;
/*   min-height: 95px; */
}


.projectTitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 70px;
  padding-left: 10%;
  height: 95px;
}

.projectContents {
  height: 90vh;
  max-height: 0px;
display: flex;
justify-content: center;
  overflow: scroll;
    transition: max-height 1s;
}


.aboutWrapper {
  position: absolute;
  bottom: 0vh;
  background-color: var(--brightColor2);
  box-shadow: 0px 9px 5px 10px  var(--brightColor1);
/*   height: 90vh; */
  max-height: 100vh;
/*   background-color: #52796f; */
  z-index: 20;
  width: 100%;
  transition: max-height 1s;
    margin-top: 95px;
/*   min-height: 95px; */
}


.aboutTitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 70px;
  padding-left: 10%;
  height: 95px;
}

.aboutContents {
  overflow: scroll;
 height: 100vh;
  max-height: 0px;
display: flex;
justify-content: center;
  /* align-items: center; */
/*   margin-top: 5%; */
  overflow: scroll;
    transition: all 1s;
/*   margin-top: 95px; */
}






/* the contents within the project panel */

.mainFrame {
  margin-top: 15vh;
}


.mainBody {
  background-color: var(--offWhiteColor);
  border-radius: 10px;
  height: 360px;
  width: 600px;
}

.mainFrame.folderPage.hidden {
  display: none;
}

.mainBody.folderPage {
  display: flex;
  flex-wrap: wrap;
}

.mainBody.projectPage {
  display: grid;
grid-template-rows: 15% 75% 10%;
grid-template-columns: 60% 40%;
grid-template-areas:
  "title skill"
  "subtitle skill"
  "subtitle link"
}

/* template for project title */
.mainTitle {
grid-area: title;
font-size: 25px;
 padding: 35px;
}

/* template for project description */
.mainSubtitle {
grid-area: subtitle;
  padding: 35px;
}

/* template for the bullet points to the side of project details */
.mainBulletPoints {
grid-area: skill;
  border-radius: 10px;
  background-color: #fad648;
padding: 15px;
  margin: 15px;
}

/* template for "visit webpage" button */
.mainLink {
grid-area: link;
text-align: right;
      padding-right: 20px;
 text-decoration: none;
  color: black;
}
.mainLink:hover {
font-weight: 700;
  font-style: italic;
}


.folder.hidden {
  display: none;
}

.folder {
  display: flex;
flex-direction: column;
align-items: center;
height: 100px;
width: 120px;
margin: 30px;
padding: 10px;
border-radius: 10px;
font-size: 17px;
}
.folderBack {
  width: 120px;
    height: 80px;
  border-radius: 0px 10px 15px 15px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.folderTab {
  background-color: inherit;
  width: 40px;
  height: 18px;
  border-radius: 10px;
  margin-top: -8px;
}

.folderFront {
  width: 120px;
  height: 90px;
  background-color: purple;
  border-radius: 10px 10px 5px 5px;
}

.folderTitle {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 500;
}
/* highlights the text under the folder icon */
.folder:hover {
font-weight: 700;
  font-style: italic;
}

/* The container holding the three tabs on the inner project details */
.tabContainer {
display: flex;
}

.tabContainer.hidden {
  display: none;
}

/* Stylizes all three tabs */

.tab {
  background-color: var(--offWhiteColor2);
width: auto;
  height: 24px;
border-radius: 10px 10px  0px 0px;
padding: 3px 15px 3px 15px;
margin-left: 10px;
}
.tab:hover {
font-weight: 700;
  font-style: italic;
}
.tab1 {
background-color: #cad2c5;}
.tab2 {
background-color: #FFBE98;}
.tab3 {
background-color: #BCB4FF;}
.tab.focus {
  background-color: var(--offWhiteColor);
}
.backButton {
  background: none;
}
/* .tab.coding {
  background-color: #cad2c5;
}
.tab.personal {
  background-color: #BCB4FF;
}

 */


/* same styling as folderFrame */


.hidden {
  display: none;
}

.hoverTitle:hover {
  font-style: italic;
  font-weight: 600;
}


/* contents within the about panel */

.aboutGridLayout {
  display: grid;
grid-template-rows: 70% 30%;
grid-template-columns: 50% 50%;
grid-template-areas:
  "work me"
  "work links";
  width: 775px;
  margin-top: 6%;
  padding: 40px;
  border-radius: 20px;
  background-color: var(--offWhiteColor);
  height: 450px;
}

.workExperience {
  grid-area: work;
  padding: 10px;
}

.contactButtons {
  grid-area: links;
  padding: 10px;
}

.contactRightPanel {
  grid-area: me;
  padding: 10px;
}
